.grid-item.collapsed {
    grid-column: 1 / -1;
}

.grid-item.collapsed > :not(h1):not(h2):not(h3) {
    display: inherit;
}

iframe {
    display: none;
}

/* .collapsible > h2::after {
    content: "";
}

.collapsible.collapsed > h2::after {
    content: "";
} */