:root {
    --pinebark: #2f2926;
    --wiregrass: #d3ae77;
    --andropogon: #ece9e3;
    --balduina: #f8d347;
    --liatris: #e791fa;
    --gap: 0.5em;
    --tablet: 768px;
    --desktop: 1024px;

    font-family: "Fira Sans", "Arimo", "Liberation Sans", "Arial", "Helvetica", sans-serif;
    font-size: 1.5rem;
}

* > :focus {
    border: 5px solid var(--liatris);
}

body {
    background-color: var(--pinebark);
}


.container {
    width: 95%;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;
    margin: auto;
    grid-template-areas:
        "hd"
        "mn"
        "ft";
}

@media only screen and (min-width: 48em) {
    .container {
        width: 90%;
        gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    .container {
        max-width: 1200px;
        gap: calc(var(--gap) * 3);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "hd hd hd"
            "mn mn mn"
            "ft ft ft";
    }
}

header {
    grid-area: hd;
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "banner banner banner banner banner banner"
        "logo menu menu menu menu menu"
        "alert alert alert alert alert alert";
}

@media only screen and (min-width: 48em) {
    header {
       gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    header {
       gap: calc(var(--gap) * 3);
    }
}

header .banner {
    grid-area: banner;
}

header #logo {
    grid-area: logo;
    background-color: var(--andropogon);
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    header #logo {
        background-color: var(--pinebark);
        border: 1px solid var(--andropogon);
    }
}

header #logo a {
    border: none;
    display: block;
    max-width: 100%;
    height: 100%;
    margin: auto;
}

header #logo a img {
    margin: auto;
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    display: block;
}

header nav {
    grid-area: menu;
    background-color: var(--andropogon);
    color: var(--pinebark);
}

@media (prefers-color-scheme: dark) {
    header nav {
        background-color: var(--pinebark);
        color: var(--pinebark)
    }
}

header nav ul {
    margin-right: var(--gap);
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

header nav ul li {
    margin: var(--gap);
}

header nav ul li a {
    text-decoration: none;
    padding: 5px;
    border-width: 5px;
}

.alert {
    grid-area: alert;
    background-color: var(--balduina);
    color: var(--pinebark);
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.alert p::before, .alert p::after {
    content: "⚠️"
}

main {
    grid-area: mn;
}

article {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 48em) {
    article {
        gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    article {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        gap: calc(var(--gap) * 3);
    }
}

section, footer {
    background-color: var(--andropogon);
    color: var(--pinebark);
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Serif Pro", "Liberation Serif", "Garamond", "Times New Roman", serif;
    color: black;
    margin: 0px;
}

@media (prefers-color-scheme: dark) {
    section, footer {
        background-color: var(--pinebark);
        color: var(--andropogon);
        border-left: 5px solid gray;
    }

    section:hover, footer:hover {
        border-left: 5px solid var(--andropogon);
    }

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }
}

h1, h2, h3 {
    text-align: center;
}

table, th, tr, td {
    border: 1px solid var(--pinebark);
    border-collapse: collapse;
    margin: var(--gap);
    padding: 10px;
}

tr:hover, td:hover {
    background-color: var(--wiregrass);
}

pre, code {
    white-space: pre-wrap;
    border: 2px solid var(--wiregrass);
    border-radius: 5px;
    width: auto;
    font-size: larger;
}

figure, blockquote {
    margin: auto;
    padding: 10px;
    border-left: 5px var(--wiregrass) solid;
}

@media only screen and (min-width: 64em) {
    .narrow {
        max-width: 80%;
    }
}

figcaption {
    font-style: italic;
}

footer {
    grid-area: ft;
    gap: var(--gap);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "contact"
        "copyright";
}

@media only screen and (min-width: 48em) {
    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "contact copyright copyright";
        gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    footer {
        gap: calc(var(--gap) * 3);
    }
}


footer .contact {
    grid-area: contact;
}

footer .copyright {
    grid-area: copyright;
}

img {
    max-width: 100%;
}

code {
    padding: 5px;
}

pre {
    padding: 10px;
    margin: 10px;
}

a {
    border-bottom: 2px var(--liatris) solid;
    text-decoration: none;
    color: var(--pinebark);
}

a:hover, a:active, a:focus {
    color: black;
    text-decoration: none;
    background-color: var(--liatris);
    border-bottom: 2px var(--liatris) solid;
}

@media (prefers-color-scheme: dark) {
    a {
        color: var(--andropogon);
    }
}

a.active-page {
    text-transform: uppercase;
}

.dl-flex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: visible;
    margin-top: 30px;
    padding: 10px;
}

.dl-flex dt {
    padding: 0px;
    border-bottom: 2px var(--wiregrass) solid;
    font-weight: bold;
    margin-right: 20px;
}

.dl-flex dt::after {
    content: ": ";
}

.dl-flex dd {
    margin: 0px 10px;
    padding: 0px;
}


.grid-item {
    grid-column: 1 / -1
}

.grid-item.collapsed {
    grid-column: span 1;
}

.grid-item.collapsed > :not(h1):not(h2):not(h3) {
    display: none;
}

@media only screen and (min-width: 64em) {
    .grid-item.collapsed {
        grid-column: span 2;
    }
}

.collapsible > h2, .collapsible > h3 {
    cursor: pointer;
    color: inherit;
}

/* .collapsible > h2::after, .collapsible > h3::after {
    content: " ↑";
}

.collapsible.collapsed > h2::after, .collapsible.collapsed > h3::after {
    content: " ↓";
} */

@media (prefers-color-scheme: dark) {
    .collapsible.collapsed {
        border: 5px solid gray;
    }

    .collasible.collapsed:hover {
        border: 5px solid var(--andropogon);
    }
}

.grid-item.full {
    grid-column: 1 / -1;
}

section.full {
    grid-column: 1 / -1;
}

section.third {
    grid-column: span 1;
}

section.twothird {
    grid-column: span 1;
}

section.half {
    grid-column: span 1;
}

@media only screen and (min-width: 64em) {
    section.twothird {
        grid-column: span 4;
    }
    
    section.third {
        grid-column: span 2;
    }

    section.half {
        grid-column: span 3;
    }
}

section.full h3, section.third h3, section.half h3, section.twothird h3 {
    text-align: left;
}

ul.inline {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.inline li {
    padding: 0 0.5em;
}

/* .inline li:nth-of-type(even) {
    font-style: italic;
} */

script {
    display: block;
}

button {
    border: 4px solid var(--pinebark);
    min-width: 6em;
    padding: 0.5em 0.75em;
    background-color: var(--andropogon);
    color: var(--pinebark);
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Fira Sans", "Arimo", "Liberation Sans", "Arial", "Helvetica", sans-serif;

}

button:hover, button:active {
    text-decoration: underline;
    background-color: var(--pinebark);
    color: var(--andropogon);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    button {;
        color: var(--andropogon);
        border: 4px solid var(--andropogon);
        background-color: var(--pinebark);
    }

    button:hover, button:active {
        background-color: var(--andropogon);
        color: var(--pinebark);
    }
}

.prominent {
    display: block;
    text-align: center;
    margin: 0.5em auto;
}

.prominent > * {
    margin: auto;
}