article#mainpage {
    grid-template-areas:
    "ab"
    "sf"
    "iz";
}

@media only screen and (min-width: 1024px) {
    article#mainpage {
        grid-template-areas:
        "ab ab sf sf sf sf" "iz iz sf sf sf sf";
    }
}

section.selfie {
    grid-area: sf;
}

section.about {
    grid-area: ab;
}

section.interests {
    grid-area: iz;
}
