:root {
    --pinebark: #2f2926;
    --wiregrass: #d3ae77;
    --andropogon: #ece9e3;
    --balduina: #f8d347;
    --liatris: #e791fa;
    --gap: 0.5em;

    --bodyFonts: "Fira Sans", "Arimo", "Liberation Sans", "Arial", "Helvetica", sans-serif;
    --emphasisFonts: "Source Serif Pro", "Liberation Serif", "Garamond", "Times New Roman", serif;
    font-size: 1.5rem;
}

* > :focus {
    border: 5px solid var(--liatris);
}

body {
    background-color: var(--pinebark);
    font-family: var(--bodyFonts);
}

/* Helper classes */

#wrapper {
    width: 95%;
    display: grid;
    gap: var(--gap);
    margin: auto;
    grid-template-areas:
        "hd"
        "mn"
        "ft";
}

@media only screen and (min-width: 48em) {
    #wrapper {
        width: 90%;
        gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    #wrapper {
        max-width: 1200px;
        gap: calc(var(--gap) * 3);
    }
}

.card {
    background-color: var(--andropogon);
    color: var(--pinebark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--emphasisFonts);
    color: black;
    margin: 0px;
}

@media (prefers-color-scheme: dark) {
    .card {
        background-color: var(--pinebark);
        color: var(--andropogon);
    }
    .hoverLeft {
        border-left: 5px solid gray;
    }

    .hoverLeft:hover {
        border-left: 5px solid var(--andropogon);
    }

    .borderAround {
        border: 1px solid var(--andropogon)
    }

    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    a {
        color: var(--andropogon);
    }
}

.inlineList {
    list-style: none;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.alert {
    background-color: var(--balduina);
    color: var(--pinebark);
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.alert p::before, .alert p::after {
    content: "⚠️"
}

@media only screen and (min-width: 64em) {
    .narrow {
        max-width: 80%;
    }
}

.inline {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.inline li {
    padding: 0 0.5em;
}


.prominent {
    display: block;
    text-align: center;
    margin: 0.5em auto;
}

.prominent > * {
    margin: auto;
}




/* Semantic structures */

header {
    grid-area: hd;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 100px 1fr;
    grid-template-areas:
        "banner banner"
        "logo menu"
}

@media only screen and (min-width: 48em) {
    header {
       gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    header {
       gap: calc(var(--gap) * 3);
    }
}

header .banner {
    grid-area: banner;
}

header .logo a {
    border: none;
    display: block;
    width: 100%;
    height: 100%;
}

header .card a img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 100%;
    max-height: 100%;
}

#mainmenu {
    grid-area: menu;
}

#mainmenu ul {
    margin-right: var(--gap);
    justify-content: flex-end;
}

#mainmenu ul li {
    margin: var(--gap);
}

main {
    grid-area: mn;
}





article.single {
    display: block;
    padding: var(--gap);
}

article.carousel {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 48em) {
    article.carousel {
        gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    article.carousel {
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: auto;
        gap: calc(var(--gap) * 3);
    }
}

.horse {
    grid-column: 1 / -1
}

.horse.collapsed {
    grid-column: span 1;
}

.horse.collapsed > :not(h1):not(h2):not(h3) {
    display: none;
}

@media only screen and (min-width: 64em) {
    .horse.collapsed {
        grid-column: span 2;
    }
}

.collapsible > h2, .collapsible > h3 {
    cursor: pointer;
    color: inherit;
}

.horse.full {
    grid-column: 1 / -1;
}




footer {
    grid-area: ft;
    gap: var(--gap);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "contact"
        "copyright";
}

@media only screen and (min-width: 48em) {
    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "contact copyright copyright";
        gap: calc(var(--gap) * 2);
    }
}

@media only screen and (min-width: 64em) {
    footer {
        gap: calc(var(--gap) * 3);
    }
}


footer #contact {
    grid-area: contact;
}

footer #copyright {
    grid-area: copyright;
}





/* Individual elements */


h1, h2, h3 {
    text-align: center;
}

table, th, tr, td {
    border: 1px solid var(--pinebark);
    border-collapse: collapse;
    margin: var(--gap);
    padding: 10px;
}

tr:hover, td:hover {
    background-color: var(--wiregrass);
}

pre, code {
    white-space: pre-wrap;
    border: 2px solid var(--wiregrass);
    border-radius: 5px;
    width: auto;
    font-size: larger;
}

figure, blockquote {
    margin: auto;
    padding: 10px;
    border-left: 5px var(--wiregrass) solid;
}

figcaption {
    font-style: italic;
}

img {
    max-width: 100%;
}

code {
    padding: 5px;
}

pre {
    padding: 10px;
    margin: 10px;
}

a {
    border-bottom: 2px var(--liatris) solid;
    text-decoration: none;
    color: var(--pinebark);
}

a:hover, a:active, a:focus {
    color: black;
    text-decoration: none;
    background-color: var(--liatris);
    border-bottom: 2px var(--liatris) solid;
}


a.active-page {
    text-transform: uppercase;
}

.dl-flex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: visible;
    margin-top: 30px;
    padding: 10px;
}

.dl-flex dt {
    padding: 0px;
    border-bottom: 2px var(--wiregrass) solid;
    font-weight: bold;
    margin-right: 20px;
}

.dl-flex dt::after {
    content: ": ";
}

.dl-flex dd {
    margin: 0px 10px;
    padding: 0px;
}



script {
    display: block;
}

button {
    border: 4px solid var(--pinebark);
    min-width: 6em;
    padding: 0.5em 0.75em;
    background-color: var(--andropogon);
    color: var(--pinebark);
    text-transform: uppercase;
    font-size: 1rem;
    font-family: "Fira Sans", "Arimo", "Liberation Sans", "Arial", "Helvetica", sans-serif;
}

button:hover, button:active {
    text-decoration: underline;
    background-color: var(--pinebark);
    color: var(--andropogon);
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    button {;
        color: var(--andropogon);
        border: 4px solid var(--andropogon);
        background-color: var(--pinebark);
    }

    button:hover, button:active {
        background-color: var(--andropogon);
        color: var(--pinebark);
    }
}